# Copy to .env and fill in values.
# Variables here are available locally in MiniOxygen.

SESSION_SECRET="foobar"

# BILDIT VEE (Visual Experience Engine)
# BILDIT_API_URL is the root URL of your CMS instance (no path).
BILDIT_API_URL=""
BILDIT_API_KEY=""
